# Created by https://www.gitignore.io

### Vagrant ###
.vagrant/


### Composer ###
composer.phar
vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock


### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json


### Symfony ###
# Cache and logs (Symfony2)
/lojinhaphp/app/cache/*
/lojinhaphp/app/logs/*
!lojinhaphpapp/cache/.gitkeep
!lojinhaphpapp/logs/.gitkeep

# Cache and logs (Symfony3)
/lojinhaphp/var/cache/*
/lojinhaphp/var/logs/*
!lojinhaphp/var/cache/.gitkeep
!lojinhaphp/var/logs/.gitkeep

# Parameters
/lojinhaphp/app/config/parameters.yml
/lojinhaphp/app/config/parameters.ini

# Managed by Composer
/lojinhaphp/app/bootstrap.php.cache
/lojinhaphp/var/bootstrap.php.cache
/lojinhaphp/bin/*
!lojinhaphp/bin/console
!lojinhaphp/bin/symfony_requirements
/lojinhaphp/vendor/

# Assets and user uploads
/lojinhaphp/web/bundles/
/lojinhaphp/web/uploads/

# PHPUnit
/lojinhaphp/app/phpunit.xml
/lojinhaphp/phpunit.xml

# Build data
/lojinhaphp/build/

# Composer PHAR
/composer.phar

